name: Continuous integration

permissions:
  contents: read

on:
  push:
    paths:
      - 'defaults/**'
      - 'files/**'
      - 'handlers/**'
      - 'molecule/**'
      - 'tasks/**'
      - 'templates/**'
      - 'vars/**'
    branches:
      - main
    tags-ignore:
      - '*'
  pull_request:
    paths:
      - 'defaults/**'
      - 'files/**'
      - 'handlers/**'
      - 'molecule/**'
      - 'tasks/**'
      - 'templates/**'
      - 'vars/**'
    branches:
      - main

jobs:
  lint:
    name: Lint with Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          path: "${{ github.repository }}"
          persist-credentials: false

      - name: Install Ansible Lint and collections
        working-directory: "${{ github.repository }}"
        run: |
          pip3 install --upgrade pip
          pip3 install --upgrade ansible-lint ansible
          ansible-galaxy collection install --upgrade -r requirements.yml

      - name: Run Ansible Lint
        working-directory: "${{ github.repository }}"
        run: |
          ansible-lint

  test-os:
    name: "Test OS compabillity with Molecule"
    needs: 'lint'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - opensuse-15.6
          - debian-12
          - debian-sid
          - arch
          - ubuntu-22.04
          - ubuntu-24.04
          - rockylinux-9
          - tumbleweed
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          path: "${{ github.repository }}"
          persist-credentials: false

      - name: Run Molucule scenario for operating system testing
        uses: gofrolist/molecule-action@cc5ba090a8158c98dc631804ee2a849711dcd7a7  # v2.7.80
        with:
          molecule_args: --parallel --scenario-name default
        env:
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_TAG: '${{ matrix.tag }}'

  test-absent:
    name: "Test Role absent tasks"
    needs: 'lint'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          path: "${{ github.repository }}"
          persist-credentials: false

      - name: Run Molucule scenario for absent tasks
        uses: gofrolist/molecule-action@cc5ba090a8158c98dc631804ee2a849711dcd7a7  # v2.7.80
        with:
          molecule_args: --scenario-name absent
        env:
          ANSIBLE_FORCE_COLOR: '1'

  test-unsupported:
    name: "Test Role unsupported-version"
    needs: 'lint'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          path: "${{ github.repository }}"
          persist-credentials: false

      - name: Run Molucule scenario for unsupported-version
        uses: gofrolist/molecule-action@cc5ba090a8158c98dc631804ee2a849711dcd7a7  # v2.7.80
        with:
          molecule_args: --scenario-name unsupported-version
        env:
          ANSIBLE_FORCE_COLOR: '1'
